@use "../../assets/styles/mixin.scss" as *;
@use "../../assets/styles/variables.scss" as *;

.container {
  @include flex-column;
  @include center;
  gap:20px;
  margin-bottom: 100px;
}

.calender {
  background-color: aqua;
  font-size: $font-md;
  @include center;
  flex-direction: column;
  border-radius: $radius-sm;
}

.date {
  font-size: $font-md;
  background-color: rgb(242, 187, 187);
   @include center;
  width: 50%;
  height: 100%;
  padding: $spacing-lg;
}

.time{
 font-size: $font-md;
  background-color: rgb(255, 221, 221);
  @include center;
  width: 50%;
  height: 100%;
  padding: $spacing-lg;

}

.line{
  width: 100%;
}

  