@use "./variables.scss" as *;

@mixin btn {
  padding: $spacing-sm;
  font-size: $font-md;
  border-radius: $radius-sm;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.testimonialContainer {
  @include flex-column;
  gap: $spacing-sm;
  padding: $spacing-md;
  background-color: $background-dark;
  color: $white;
  border-radius: $radius-md;
}

@mixin transition($properties...) {
  transition: $properties 0.3s ease-in-out;
}

@mixin hover-effect($hover-color) {
  &:hover {
    background-color: $hover-color;
    cursor: pointer;
  }
}
