@import "../../assets/styles/variables.scss";

.heading {
  font-size: $font-lg;
  text-align: center;
  color: $primary-color;
  margin-bottom: $spacing-md;
}

.container {
  display: flex;
  gap: $spacing-lg;
  padding:0 $spacing-md;
  margin-bottom: 20px;
  justify-content: center;
}

.card {
  border-radius: $radius-md;
  background: linear-gradient(135deg, #ffe3d3, #fff);
  border: 1px solid #eee;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
  text-align: center;
  width: 100%;
  max-width: 420px;
  cursor: default;

  &:hover {
    transform: scale(1.02);
    border-color: $primary-color;
  }

  .ant-card-body {
    padding: $spacing-md;
  }
}

.cardText {
  font-size: $font-base;
  color: $text-color;
  font-style: italic;
  line-height: 1.6;
}

.author {
  font-size: $font-md;
  color: $primary-color;
  font-weight: 600;
}

// 📱 Mobile (up to 768px)
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}

// 💻 Tablet (769px–1024px)
@media (min-width: 767px) and (max-width: 1024px) {
  .container {
    justify-content: center;
    flex-direction: row;
    gap: $spacing-sm;
  }

  .card {
    width: 45%;
  }
}
